<h1 class='welcome'>Create a Cock-a-doodle!</h1>


<!-- STUCK HERE, USER_ID is not saving, you have access to it in the params though -->

<%= form_for [@user, @greeting] do |f| %>
<p>
  <%= f.label :username %>  <br>
  <%= f.text_field :username %>
</p>

<p>
  <%= f.label :password %><br>
  <%= f.text_area :password_hash %>
</p>

<p>
  <%= f.submit 'Submit' %>
</p>
<% end %>
